doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='jquery.min.js')
  script(src='jquery.multiple.select.js')
  link(href='multiple-select.css' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='css/add.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  title RateYourGame2020
.navContainer
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
       span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(href='/').text-secondary
            | home 
            span.sr-only (current)
        li.nav-item
          a#chart.nav-link(href='/chart').text-secondary chart
        li.nav-item
          if loggedIn === false
            a#logIn.nav-link(href='/logIn/0').text-secondary log in/sign up
          else
            a.nav-link.text-secondary #{user_name}
            li.nav-item
              a#logIn.nav-link(href='/logOut').text-secondary log out
      form.form-inline.my-2.my-lg-0(action='/search' method='POST')
        input.form-control.mr-sm-2(type='search' placeholder='Search' name='searchFor' required='')
        label(for='category') in:&nbsp;
        select.browser-default.custom-select(name='category')
          option(value='games') Games
        button.btn.btn-success.my-2.my-sm-0(type='submit')
          | Search

.row
  .col-sm.leftContainer
    .container.p-3.my-3.bg-info
        .container#inside.p-3.my-3.bg-light 
          form#addinggameForm(action='/addDescr' method='POST')
            //-h10#formTitle.mt-2.mb-4 2 of 3
            h2#formTitle.mt-2.mb-4 Edit Game
            //-carried over from first form
            input(type='hidden' name='release_date' value=release_date)
            input(type='hidden' name='region' value=region)
            input(type='hidden' name='first_release' value=first_release)
       
            .form-group
                label(for='exampleFormControlSelect2') Series
                .w-100 
                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#series1')
                    | select series
                #series1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addSeriesTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#addSeriesTitle.modal-title select series
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                for s in series
                                    .form-check.form-check-inline
                                        input#inlineCheckbox1.form-check-input(type='checkbox' value=series)
                                        label.form-check-label(for='inlineCheckbox1') #{s}
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes
                

                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#series')
                    | add new series option
                #series.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addSeriesTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#addSeriesTitle.modal-title add series
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                label name
                                input#name.form-control(type='text' required='')
                                label history
                                input#history.form-control(type='text' required='')
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes
                tr  #{added_series} 
            .form-group
                label(for='exampleFormControlSelect2') Console
                .w-100
                select#exampleFormControlSelect1.form-control 
                    for c in consoles  
                        option(value=c) #{c}      
                button.btn#addconsole.btn-info(type='button' data-toggle='modal' data-target='#addConsole')
                    | add new console
                #addConsole.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addConsoleTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#addConsoleTitle.modal-title add console
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                label name
                                input#name.form-control(type='text' required='')
                                label first release date
                                input#first.form-control(type='text' required='')
                                label discontinued date
                                input#disc.form-control(type='text' required='')
                                label Region
                                select#exampleFormControlSelect1.form-control
                                    option(value="region") Asia
                                    option(value="region") Europe
                                    option(value="region") North America
                                    option(value="region") Africa
                                    option(value="region") Oceania
                                    option(value="region") South America
                                    option(value="region") Antarctica
                                label history
                                input#history.form-control(type='text' required='')
                                label(for='exampleFormControlSelect1') Generation
                                select#exampleFormControlSelect1.form-control 
                                    for g in generations
                                        option(value='generations') #{g}
                                button.btn#man.btn-info(type='button' data-toggle='modal' data-target='#manuf')
                                    | manufacture
                                #manuf.modal.fade(tabindex='-1' role='dialog' aria-labelledby='manufacForm' aria-hidden='true')
                                    .modal-dialog.modal-dialog-centered(role='document')
                                        .modal-content
                                            .modal-header
                                                h5#manufacForm.modal-title manufacture form
                                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                    span(aria-hidden='true') &times;
                                            .modal-body
                                                label name
                                                input#name.form-control(type='text' required='')
                                                label founding date
                                                input#founding.form-control(type='text' required='')
                                                label defunct date
                                                input#defu.form-control(type='text' required='')
                                                label city
                                                input#city.form-control(type='text' required='')
                                                label Country
                                                select#exampleFormControlSelect1.form-control
                                                    for country in countries
                                                        option(value="country") #{country}
                                                label history
                                                input#history.form-control(type='text' required='')
                                            .modal-footer
                                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close`
                                                button.btn.btn-info(type='button') Save changes
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes
            .form-group
                label(for='exampleFormControlSelect1') Publisher
                select#exampleFormControlSelect1.form-control 
                    for p in companies  
                        option(value=p) #{p}      
                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#addPub')
                    | add new publisher
                #addPub.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addPubTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#addPubTitle.modal-title add publisher
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                label name
                                input#name.form-control(type='text' required='')
                                label birth date
                                input#birth.form-control(type='text' required='')
                                label death date
                                input#death.form-control(type='text' required='')
                                label city
                                input#city.form-control(type='text' required='')
                                label Country
                                select#exampleFormControlSelect1.form-control
                                    for country in countries
                                        option(value="country") #{country}
                                label biography
                                input#bio.form-control(type='text' required='')
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes
            .form-group
                label(for='exampleFormControlSelect2') Developer
                .w-100
                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#developer')
                    | select developer
                #developer.modal.fade(tabindex='-1' role='dialog' aria-labelledby='developerTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#developerTitle.modal-title select developer
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                for d in companies
                                    .form-check.form-check-inline
                                        input#inlineCheckbox1.form-check-input(type='checkbox' value=desin)
                                        label.form-check-label(for='inlineCheckbox1') #{d}
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes
                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#addDev')
                    | add new developer
                #addDev.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addDevTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#addDevTitle.modal-title add developer
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                label name
                                input#name.form-control(type='text' required='')
                                label birth date
                                input#birth.form-control(type='text' required='')
                                label death date
                                input#death.form-control(type='text' required='')
                                label city
                                input#city.form-control(type='text' required='')
                                label Country
                                select#exampleFormControlSelect1.form-control
                                    for country in countries
                                        option(value="country") #{country}
                                label biography
                                input#bio.form-control(type='text' required='')
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes
                tr  #{added_developers} 
                .form-check
                input#sameAsPub.form-check-input(type='checkbox' value='')
                label#sameAsPub2.form-check-label(for='sameAsPub')
                    | same as publisher ?


            .form-group
                label(for='exampleFormControlSelect2') Designer
                .w-100
                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#designer')
                    | select designer
                #designer.modal.fade(tabindex='-1' role='dialog' aria-labelledby='designerTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#designerTitle.modal-title select designer
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                for d in designers
                                    .form-check.form-check-inline
                                        input#inlineCheckbox1.form-check-input(type='checkbox' value=desin)
                                        label.form-check-label(for='inlineCheckbox1') #{d}
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes

                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#addDes')
                    | add designer
                #addDes.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addDesTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#addDesTitle.modal-title add designer
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                label name
                                input#name.form-control(type='text' required='')
                                label birth date
                                input#birth.form-control(type='text' required='')
                                label death date
                                input#death.form-control(type='text' required='')
                                label city
                                input#city.form-control(type='text' required='')
                                label Country
                                select#exampleFormControlSelect1.form-control
                                    for country in countries
                                        option(value="country") #{country}
                                label biography
                                input#bio.form-control(type='text' required='')
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                button.btn.btn-info(type='button') Save changes
            .form-group
                label(for='exampleFormControlSelect2') Genre
                .w-100
                button.btn#addSeries.btn-info(type='button' data-toggle='modal' data-target='#genre')
                    | select genre
                #genre.modal.fade(tabindex='-1' role='dialog' aria-labelledby='genreTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#genreTitle.modal-title select genre
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                - n = 0
                                for g in genres
                                    .form-check.form-check-inline
                                        input#inlineCheckbox1.form-check-input(type='checkbox' name='genre[' + n++ +']')
                                        label.form-check-label(for='inlineCheckbox1') #{g}
                            .modal-footer
                                button.btn.btn-info(type='button') Save changes
                tr  #{added_genres} 
            .text-center
                button#submit.btn.btn-info.my-2.my-sm-0(type='submit')
                    | Next
                button#clear.btn.btn-secondary.my-2.my-sm-0(type='clear')
                    | Clear                  