doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet' href='css/chart.css')
  title RateYourGame2020
.navContainer
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
       span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item
          a#home.nav-link(href='/').text-secondary home
        li.nav-item.active
          a.nav-link(href='/chart')
            | chart
            span.sr-only (current)
        li.nav-item
         if loggedIn === false
            a#logIn.nav-link(href='/logIn/0').text-secondary log in/sign up
         else
            a.nav-link.text-secondary #{user_name}
            li.nav-item
              a#logIn.nav-link(href='/logOut').text-secondary log out
            //button.btn.btn-success.my-2.my-sm-1(type='logout') logout
      form.form-inline.my-2.my-lg-0(action='/search' method='POST')
        input.form-control.mr-sm-2(type='search' placeholder='Search' name='searchFor' required='')
        label(for='category') in:&nbsp;
        select.browser-default.custom-select(name='category')
          option(value='games') Games
        button.btn.btn-success.my-2.my-sm-0(type='submit')
          | Search
// Create the form that will submit a database query (and make a chart)
form(action='/gen' method='POST')
  .row
    .col-sm.leftContainer
      .container.p-3.my-3.bg-info
        .container.p-3.my-3.bg-light
            .form-group
              label(for='list1') Console:
              select#list1.browser-default.custom-select(name='Console')
                option ANY
                  for console in consoles
                    tr.odd(role='row')
                      option #{console.name}
        .container.p-3.my-3.bg-light    
          .form-group
            label(for='list2') Publisher:
            select#list2.browser-default.custom-select(name='Publisher')
              option ANY
                for publisher in publishers
                  tr.odd(role='row')
                    option #{publisher.name}
        .container.p-3.my-3.bg-light
          .form-group
            label(for='list3') Genre:
            select#list2.browser-default.custom-select(name='Genre')
              option ANY
                for genre in genres
                  tr.odd(role='row')
                    option #{genre.name}
        button.btn.btn-success.my-2.my-sm-0(type='submit') Create chart

    .col-sm.rightContainer
      .container.p-3.my-3.bg-info
        .container.p-3.my-3.bg-light    
          .form-group
            label(for='input1') Minimum year: 
            input#1input1.browser-default.custom-select(type="text" name="MinYear")
        .container.p-3.my-3.bg-light  
          .form-group
            label(for='input2') Maximum year: 
            input#1input2.browser-default.custom-select(type="text" name="MaxYear")
        .container.p-3.my-3.bg-light  
          .form-group
            label(for="list4") Generation:
            select#1list4.browser-default.custom-select(name="Generation")
              option Any
                - var n = 0;
                ul
                  while n < 9
                    option= ++n
        

  .col-lg.leftContainer
    //- #reviews Reviews

    section.left-grid-container
      - var n = 0;
      ol
        for game in reviewData
          tr.odd(role='row')
            if(++n % 2 == 0)
              .row.bg-light
                .col-4
                  img.img-fluid(src='../images/game-' + game.game_id + '.jpg' width='200px' alt='images/game-' + game.game_id + '.jpg')
                  li#game 
                    a(href='/game/' + game.game_id ) #{game.name}
                  h5
                    td #{game.genres} Avg: #{game.rating}/10
                  h6
                    td
                      a(href='/console/' + game.colsole_id ) #{game.console}
                    td  by 
                        a(href='/console/' + game.publisher_id ) #{game.publisher},
                    td  on #{game.release_date} 
            else
              .row  
                .col-4
                  img.img-fluid(src='../images/game-' + game.game_id + '.jpg' width='200px' alt='images/game-' + game.game_id + '.jpg')
                  li#game 
                    a(href='/game/' + game.game_id ) #{game.name}
                  h5
                    td #{game.genres} Avg: #{game.rating}/10
                  h6
                    td
                      a(href='/console/' + game.colsole_id ) #{game.console}
                    td  by 
                        a(href='/console/' + game.publisher_id ) #{game.publisher},
                    td  on #{game.release_date}
              
          
          

// <script src="chartDB.js"></script>
