doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  title RateYourGame2020
.navContainer
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a#title.navbar-brand(href='#') Best of 2020
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(href='/')
            | home 
            span.sr-only (current)
        li.nav-item
          a#chart.nav-link(href='/chart') chart
        li.nav-item
          a#logIn.nav-link(href='/logIn') log in/sign up
      form.form-inline.my-2.my-lg-0(action='/search' method='POST')
        input.form-control.mr-sm-2(type='search' placeholder='Search' name='searchFor' required='')
        label(for='category') in:&nbsp;
        select.browser-default.custom-select(name='category')
          option(value='games') Games
          option(value='consoles') Consoles
          option(value='companies') Companies
          option(value='personnel') Personnel
          option(value='users') Users
        button.btn.btn-success.my-2.my-sm-0(type='submit')
          | Search
.row
  .col-sm.leftContainer
    #reviews Reviews
    section.left-grid-container
      .grid-item.item1 1 #{left1}
      .grid-item.item2 2 #{left2}
      .grid-item.item3 3 #{left3}
      .grid-item.item4 4 #{left4}
      .grid-item.item5 5 #{left5}
  .col-sm.rightContainer
    #reviews New Releases
    section.right-grid-container
      .grid-item.item6 6 #{right1}
      .grid-item.item7 7 #{right2}
      .grid-item.item8 8 #{sec1}
      .grid-item.item9 9 #{sec1}
      .grid-item.item10 10 #{sec1}
      .grid-item.item11 11 #{sec1}
      .grid-item.item12 12 #{sec1}
      .grid-item.item13 13 #{sec1}
      .grid-item.item14 14 #{sec1}
      .grid-item.item15 15 #{sec1}