doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  title RateYourGame2020
.navContainer
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
       span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(href='/')
            | home 
            span.sr-only (current)
        li.nav-item
          a#chart.nav-link(href='/chart').text-secondary chart
        li.nav-item
          if loggedIn === false
            a#logIn.nav-link(href='/logIn/0').text-secondary log in/sign up
          else
            a.nav-link.text-secondary #{user_name}
            li.nav-item
              a#logIn.nav-link(href='/logOut').text-secondary log out
      form.form-inline.my-2.my-lg-0(action='/search' method='POST')
        input.form-control.mr-sm-2(type='search' placeholder='Search' name='searchFor' required='')
        label(for='category') in:&nbsp;
        select.browser-default.custom-select(name='category')
          option(value='games') Games
        button.btn.btn-success.my-2.my-sm-0(type='submit')
          | Search

.row
  .col-lg.leftContainer
    #reviews Reviews
    section.left-grid-container
      .row.item1 
        .col-4
          if(reviewData[0].game_id > 18)
            img.img-fluid(src=reviewData[0].game_image width='200px' alt=reviewData[0].game_image)
          else
            img.img-fluid(src='../images/game-' + reviewData[0].game_id + '.jpg' width='200px' alt='images/game-' + reviewData[0].game_id + '.jpg')
          h5#rating 
            tr 
              a(href='/game/' + reviewData[0].game_id) #{reviewData[0].name} 
            tr #{reviewData[0].user_rating + "/10"}
        .col-8
          if(reviewData[0].user_id > 10)
              td
                  img.img-fluid(src=reviewData[0].user_image width='50px' alt=reviewData[0].user_image)   
          else
              td
                  img.img-fluid(src='../images/user-' + reviewData[0].user_id + '.jpg' width='50px' alt= 'images/user-' + reviewData[0].user_id)  
          tr   
             a(href = '/user/' + reviewData[0].user_name) #{reviewData[0].user_name}
          p #{reviewData[0].user_review}
      .row.item2
        .col-4
          if(reviewData[1].game_id > 18)
            img.img-fluid(src=reviewData[1].game_image width='200px' alt=reviewData[1].game_image)
          else
            img.img-fluid(src='../images/game-' + reviewData[1].game_id + '.jpg' width='200px' alt='images/game-' + reviewData[1].game_id + '.jpg')
          h5#rating 
            tr 
              a(href='/game/' + reviewData[1].game_id) #{reviewData[1].name} 
            tr #{reviewData[1].user_rating + "/10"}
        .col-8
          if(reviewData[1].user_id > 10)
              td
                  img.img-fluid(src=reviewData[1].user_image width='50px' alt=reviewData[1].user_image)   
          else
              td
                  img.img-fluid(src='../images/user-' + reviewData[1].user_id + '.jpg' width='50px' alt= 'images/user-' + reviewData[1].user_id + '.jpg')  
          tr   
             a(href = '/user/' + reviewData[1].user_name) #{reviewData[1].user_name}
          p #{reviewData[1].user_review}
      .row.item3
        .col-4
          if(reviewData[2].game_id > 18)
            img.img-fluid(src=reviewData[2].game_image width='200px' alt=reviewData[2].game_image)
          else
            img.img-fluid(src='../images/game-' + reviewData[2].game_id + '.jpg' width='200px' alt='images/game-' + reviewData[2].game_id + '.jpg')
          h5#rating 
            tr 
              a(href='/game/' + reviewData[2].game_id) #{reviewData[2].name} 
            tr #{reviewData[2].user_rating + "/10"}
        .col-8
          if(reviewData[2].user_id > 10)
              td
                  img.img-fluid(src=reviewData[2].user_image width='50px' alt=reviewData[2].user_image)   
          else
              td
                  img.img-fluid(src='../images/user-' + reviewData[2].user_id + '.jpg' width='50px' alt= 'images/user-' + reviewData[2].user_id)  
          tr   
             a(href = '/user/' + reviewData[2].user_name) #{reviewData[2].user_name}
          p #{reviewData[2].user_review}
      .row.item4
        .col-4
          if(reviewData[3].game_id > 18)
            img.img-fluid(src=reviewData[3].game_image width='200px' alt=reviewData[3].game_image)
          else
            img.img-fluid(src='../images/game-' + reviewData[3].game_id + '.jpg' width='200px' alt='images/game-' + reviewData[3].game_id + '.jpg')
          h5#rating  
            tr 
              a(href='/game/' + reviewData[3].game_id) #{reviewData[3].name} 
            tr #{reviewData[3].user_rating + "/10"} 
        .col-8
          if(reviewData[3].user_id > 10)
              td
                  img.img-fluid(src=reviewData[3].user_image width='50px' alt=reviewData[3].user_image)   
          else
              td
                  img.img-fluid(src='../images/user-' + reviewData[3].user_id + '.jpg' width='50px' alt= 'images/user-' + reviewData[3].user_id)  
          tr   
             a(href = '/user/' + reviewData[3].user_name) #{reviewData[3].user_name}
          p #{reviewData[3].user_review}
      .row.item5
        .col-4
          if(reviewData[4].game_id > 18)
            img.img-fluid(src=reviewData[4].game_image width='200px' alt=reviewData[4].game_image)
          else
            img.img-fluid(src='../images/game-' + reviewData[4].game_id + '.jpg' width='200px' alt='images/game-' + reviewData[4].game_id + '.jpg')
          h5#rating  
            tr 
              a(href='/game/' + reviewData[4].game_id) #{reviewData[4].name} 
            tr #{reviewData[4].user_rating + "/10"}
        .col-8
          if(reviewData[4].user_id > 10)
              td
                  img.img-fluid(src=reviewData[4].user_image width='50px' alt=reviewData[4].user_image)   
          else
              td
                  img.img-fluid(src='../images/user-' + reviewData[4].user_id + '.jpg' width='50px' alt= 'images/user-' + reviewData[4].user_id + '.jpg')  
          tr    
             a(href = '/user/' + reviewData[4].user_name) #{reviewData[4].user_name}
          p #{reviewData[4].user_review}
          
  .col-lg.rightContainer
    #reviews New Releases
    section.right-grid-container
      if(newGames)
        for newGame in newGames
          .row.item1
            .col-4
              img.img-fluid(src=newGame.image width='200px' alt=newGame.image)
            .col-8  
              p
                td 
                    a(href='/game/' + newGame.game_id ) #{newGame.name}
                //td #{game.genres}
                br
                td Release Date:   
                td  #{newGame.release_date}
                br
                td   #{newGame.region}
                br 
          .row.item2
            .col-4
              img.img-fluid(src=newGame.image width='200px' alt=newGame.image)
            .col-8  
              p
                td 
                    a(href='/game/' + newGame.game_id ) #{newGame.name}
                //td #{game.genres}
                br
                td Release Date:   
                td  #{newGame.release_date}
                br
                td   #{newGame.region}
                br 
          .row.item3
            .col-4
              img.img-fluid(src=newGame.image width='200px' alt=newGame.image)
            .col-8  
              p
                td 
                    a(href='/game/' + newGame.game_id ) #{newGame.name}
                //td #{game.genres}
                br
                td Release Date:   
                td  #{newGame.release_date}
                br
                td   #{newGame.region}
                br 
          .row.item4
            .col-4
              img.img-fluid(src=newGame.image width='200px' alt=newGame.image)
            .col-8  
              p
                td 
                    a(href='/game/' + newGame.game_id ) #{newGame.name}
                //td #{game.genres}
                br
                td Release Date:   
                td  #{newGame.release_date}
                br
                td   #{newGame.region}
                br 
          .row.item5
            .col-4
              img.img-fluid(src=newGame.image width='200px' alt=newGame.image)
            .col-8  
              p
                td 
                    a(href='/game/' + newGame.game_id ) #{newGame.name}
                //td #{game.genres}
                br
                td Release Date:   
                td  #{newGame.release_date}
                br
                td   #{newGame.region}
                br 
      //-  .grid-item.item9  #{sec1}
        .grid-item.item10  #{sec1}
        .grid-item.item11  #{sec1}
        .grid-item.item12  #{sec1}
        .grid-item.item13  #{sec1}
        .grid-item.item14  #{sec1}
        .grid-item.item15  #{sec1}